# .* need to be more specific 
*.DS_Store*
_*

# R project stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata
.project
.DS*
*.csv

# IDL project stuff
W_2021*
W_20220*
V2022/Screen Shot 2022-05-31 at 12.59.12 PM.png
*.log
*.LOG
*.jpeg

IDL_OUTPUTS/V2022/**/ANIMATION_PNGS/
/EXTRACTS/
#IDL_OUTPUTS/V2022/ANIMATIONS/SST/ANIMATION_PNGS/
view_weekly_indicators_23.html
view_weekly_indicators copy.html

#NRT data files 
*.cnv
