# .* need to be more specific 
_*
# R project stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata
.project
.DS*
*.csv
W_2021*
W_20220*
**/ANIMATION_PNGS/
**/ANIMATION_GIFS/
V2022/Screen Shot 2022-05-31 at 12.59.12 PM.png
*.log
*.LOG
*.webm
